* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

.header,
.hero {
  background-color: #1f2937;
  display: flex;
  align-items: center;
}

.header {
  padding: 16px 200px 0;
  justify-content: space-between;
}

.header .header-logo {
  font-size: 24px;
  font-weight: 500;
  color: #f9faf8;
}

.header .header-links a {
  font-size: 18px;
  font-weight: 200;
  color: #e5e7eb;
  display: inline-block;
  margin: 0 7px;
}

.hero {
  padding: 80px 200px;
  justify-content: center;
}

.hero .hero-text {
  flex: 1 1 50%;
}

.hero .hero-text h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin-bottom: 10px;
}

.hero .hero-text p {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 20px;
}

.hero .hero-text .cta {
  background-color: #3882f6;
  display: inline-block;
  padding: 10px 30px;
  color: #f9faf8;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}

.hero .hero-image {
  flex: 1 1 50%;
}

.hero .hero-image img {
  width: 100%;
}

.info {
  padding: 40px;
}

.info .info-header {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
  margin-bottom: 40px;
}

.info .row {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.info .row .col img {
  width: 200px;
  height: 200px;
  border: 5px solid #3882f6;
  border-radius: 15px;
}

.info .row .col p {
  font-size: 18px;
  font-weight: 400;
  color: #1f2937;
  text-align: center;
}

.quote {
  background-color: #e5e7eb;
  padding: 100px 250px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote .quote-text {
  font-size: 36px;
  color: #1f2937;
  font-weight: 100;
  font-style: italic;
}

.quote .quote-person {
  font-size: 24px;
  color: #1f2937;
  align-self: self-end;
  font-weight: 600;
}
