* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

header {
  display: flex;
  background-color: #1f2937;
  padding: 15px 0;
  justify-content: space-around;
  align-items: center;
}

header .header-logo {
  font-size: 24px;
  font-weight: 500;
  color: #f9faf8;
}

header .header-links a {
  font-size: 18px;
  font-weight: 200;
  color: #e5e7eb;
  display: inline-block;
  margin: 0 7px;
}
